!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Dreamweaver
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    :css
      @import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap');
    %link{href: "https://use.typekit.net/ydu3jtc.css", rel: "stylesheet"}/
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true

  %body
    = yield

